
$primary-color: #D41443;
$secondary-color: #FFA5BA;
$background-color: #FFB8CA;
$button-background: white;
$text-color: white;
$background-color-card2:#F0D1A5;
$background-color-card3:#C2E297;
$background-color-how: #FFF5F6;
$background-color-emily: #FAFAFA;