
.container{
    background-color: $background-color;
    width: 100vh;
    height: 200px;
    width: 100vh;
    height: 502px;
    max-width: 100%;
    overflow: hidden;

    
}

.cont-bol{
    position: relative;
}
.nav-container{
    display: flex;
    flex-direction: row;
    padding: 4px;
    width: 100vh;
    padding: 12px;
    max-width: 100%;

}
.logo-menu {
    align-self: center; 
}
.menu-span {
    align-self: center;
    }

.container-bola{
    background-color: $secondary-color;
    width: 346px;
    height: 344px;
    border-radius: 346px;
    top: 92px;
    position: absolute;
    top: 10px;
    position: absolute;
    margin-left: 100px;
    right: -91px;

}
.menu{
    display: flex;
    flex-direction: row;
    justify-self: end;
    width: 100vh;
    justify-content: end;
    padding-right: 20px;
}
.heladote {
    position:absolute;
    left: 80px;
    top: 15px;
    width: 171px;
    height: 410px;
}
.title{
    display: flex;
    position: sticky;
    flex-direction: column;
    left: 27px;
    top: 200px;
}
.container-title {
    color: #FFF;
    font-family: Titan One;
    font-size: 38px;
    font-style: normal;
    margin: 0;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    p {
        margin: 0;
    }
}
.passion {
    color: #D41443;
    font-family: Titan One;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.5%;
    text-transform: uppercase;
    margin: 0;
}
.container-buttons{
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-top: 20px;
}
.button-products {
    background-color: $primary-color;
    border: none;
    border-radius: 20px;
    color: $text-color;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
    width: 67px;
    height: 30px;
}
.button-made {
    background-color: $text-color;
    border: none;
    border-radius: 20px;
    color: $primary-color;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
    width: 133px;
    height: 30px;
}
@media (min-width: 320px) {
 
}
